#root {
    height: 100vh;
}

body {
    font-family: $font-main, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.theme-light {
    background-color: #ffffff;
    color: #213547;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $night;
        color: #f7fafc;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: $light;
        color: #213547;
    }
}
