build
coverage
node_modules

# Игнорировать всё
**

# Разрешить все папки (нужно!)
!*/

# Разрешить нужные типы файлов
!**/*.js
!**/*.jsx
!**/*.ts
!**/*.tsx
!**/*.scss

# **/*.html
# **/*.css
# **/*.scss

