version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env.development
    ports:
      - '${PORT}:${PORT}'
    container_name: kafka_site

