@forward 'pallete';
@forward 'typography';
@forward 'transitions';
// @forward 'themes';
@forward 'normalize';

$light: rgb(226, 226, 226);
$night: rgb(11, 11, 11);

$border-radius: 12px;

$box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 8px 20px rgba(0, 0, 0, 0.15);
