.flex {
    display: flex;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

/* Align */
.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-normal {
    align-items: normal;
}

.align-stretch {
    align-items: stretch;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

s.max-width {
    width: 100%;
}

.max-height {
    height: 100%;
}

/* Wrap utility classes */

.wrap {
    flex-wrap: wrap;
}

/* Gap utility classes */
.gap-2 {
    gap: 2px;
}

.gap-4 {
    gap: 4px;
}

.gap-8 {
    gap: 8px;
}

.gap-12 {
    gap: 12px;
}

.gap-14 {
    gap: 14px;
}

.gap-16 {
    gap: 16px;
}

.gap-20 {
    gap: 20px;
}

.gap-24 {
    gap: 24px;
}

.gap-32 {
    gap: 32px;
}

.gap-38 {
    gap: 38px;
}

.gap-120 {
    gap: 120px;
}
