.wrapper {
    height: 100vh;
    margin-top: 10px;
}

@keyframes example {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1.15);
    }
}

.button-preview {
    animation: example 1s linear;
}

div p {
    color: blue;
}

ul > li {
    color: red;
}

h1 + p {
    color: rgb(59, 188, 169);
}

h2 ~ p {
    color: rgb(60, 203, 103);
}
